@font-face { font-family: Odin; src: url('fonts/Norse-Bold.otf'); } 
body {
    background-color: #F9FAFB;
    font-family: "Roboto";
}

button {
    background-color: #596D48 !important;
}

a {
    color: #596D48;
    font-weight: bold;
}

.content {
    margin-top: 12%;
}

label {
    margin: 0;
}

.brand {
    top: 17%;
    width: 100%;
    font-size: 8rem;
    font-family: Odin;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.odin-logo {
    height: 140px;
}

p {
    font-size: 1.4rem;
}

.bg-img {
    object-fit: cover;
}

.leaf {
    min-height: 100vh;
    height: 100%;
}